div.field {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1px;
    width: 100vh;
    height: 100vh;
    margin: auto;
}
div.field-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
div.game-info {
    width: 200px;
}
div.card {
    background-color: #cacaca;
}